*,
*:before,
*:after {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: url('./assets/burger-friends.jpg');
  background-size: cover;
}

h2 {
  margin-left: 20px;
  transform: rotateZ(-6deg);
}

h5 {
  font-style: italic;
}

.hidden {
  display: none;
}

.footer-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.footer-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.2s, opacity 1s ease-in;
}

.header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgba(225, 225, 225, .9);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.input-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

#type, #recipe {
  padding:5px;
  margin: 10px 15px;
}

.add-recipe-button {
  background: rgba(225, 225, 225, .9);
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 1em;
  font-size: 16px;
}

.clear-button {
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 35px;
  margin-top: 15vh;
  margin-left: 29vw;
}

.content {
  display: flex;
  justify-content: space-around
}

.cook-button {
  border: none;
  background-color: #0fb9b1;
  width: 175px;
  height: 35px;
  border-radius: 7px;
}

.new-recipe-button {
  border: none;
  background-color: #0fb9b1;
  width: 100px;
  height: 35px;
  border-radius: 7px;
}

.recipe-output {
  text-align: center;
  padding: 35px;
  font-weight: bold;
}

.user-entry > * {
  margin: 1.5vh;
  margin-left: 2vw;
}

.output-display {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  font-size: 20px;
  background: rgba(225, 225, 225, .9);
  height: 55vh;
  margin: 5vh auto;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 50px 10px white inset;
}

.button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 0px white inset;
}

.clear-button:hover {
  transition: all 0.5s ease-in-out;
  color: red;
}

.crockpot {
  animation: float 3s ease-out infinite;
}

.fade-in {
	opacity:0;
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-duration:1s;
}

.fade-in.one > * {
  animation-delay: 0.7s;
}

.fade-in.two {
  animation-delay: 1.2s;
}

.fade-in.three {
  animation-delay: 1.7s;
}

.fade-in.four {
  animation-delay: 2.2s;
}

.fade-in.five {
  animation-delay: 2.7s;
}

.fade-in.six {
  animation-delay: 3.2s;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.zoom {
  animation: zoom 0.5s ease infinite;
}

.fly-out {
  animation: disappear 1.5s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  30% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes zoom {
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(0.95);
  }
  95% {
    transform: scale(1.05);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}

@keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}
