*,
*:before,
*:after {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: url('./assets/burger-friends.jpg');
  background-size: cover;
}

h2 {
  margin-left: 20px;
}

h5 {
  font-style: italic;
}

.hidden {
  display: none;
}

.footer-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.footer-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgba(225, 225, 225, .9);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.input-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

#type, #recipe {
  padding:5px;
  margin: 10px 15px;
}

.add-recipe-button {
  background: rgba(225, 225, 225, .9);
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 1em;
  font-size: 16px;
}

.clear-button {
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 35px;
  margin-top: 15vh;
  margin-left: 29vw;
}

.content {
  display: flex;
  justify-content: space-around
}

.cook-button {
  border: none;
  background-color: #0fb9b1;
  width: 175px;
  height: 35px;
  border-radius: 7px;
}

.new-recipe-button {
  border: none;
  background-color: #0fb9b1;
  width: 100px;
  height: 35px;
  border-radius: 7px;
}

.recipe-output {
  text-align: center;
  padding: 35px;
  font-weight: bold;
}

.user-entry > * {
  margin: 1.5vh;
  margin-left: 2vw;
}

.output-display {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  font-size: 20px;
  background: rgba(225, 225, 225, .9);
  height: 55vh;
  margin: 5vh auto;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 5px 50px 10px white inset;
}

.button:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 5px 10px 0px white inset;
}

.clear-button:hover {
  transition: all 0.5s ease;
  color: red;
}

.crockpot {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}

/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
 */
